* {
    margin:0;
    padding: 0;
    box-sizing: border-box;  
  }


  body {
    font-family: 'Ubuntu';}
    
  .first-section-one {
    height: 100px;
}

.first-section-two {
    height: 300px;
}

.first-section-one {
    display: flex;
    justify-content: center;
    /*border: 1px solid rgb(240, 59, 5);*/
    background-color: #1F2937;
    
}  

.first-section-container-one {
    display: flex;
    justify-content: space-between;
    width: 900px;
    /*border: 1px solid rgb(240, 59, 5);*/
    margin: 40px;

}

.header-logo {
    font-size: 24px ;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    justify-content: space-between;
    width: 200px;
    /*border: 1px solid rgb(240, 59, 5);*/
    font-size: 18px ;
    color: #E5E7EB;
}

.first-section-two {
    background-color: #1F2937;
    display: flex;
    height: 350px;
    justify-content: center;
    /*border: 1px solid rgb(240, 59, 5);*/
}

.first-section-container-two {
    display: flex;
    justify-content: space-between;
    width: 900px;
    align-items: center;
}

.signup-container .first-bold-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;

}

.signup-container .second-text {
    color: #dcdfd9;
    
}

button {
    display: block;
    width: 110px;
    border: none;
    background-color: #3882F6;
    padding: 7px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    
}

.some-info-container {
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    justify-content: center;
    margin: 25px;
}

.images-container {
    display: flex;
    justify-content: center;
    /*border: 1px solid #3882F6;*/
    height: 200px;
    width: auto;
}

.images-container img {
    width: 180px;
    flex: 0 1 auto;
    margin: 15px;
    border-radius: 7px;
    border: 2px solid #3882F6;
    justify-content: center;
}

.caption-container {
    display: flex;
    /*border: 1px solid rgb(3, 148, 15);*/
    justify-content: center;
    height: 100px;
    
}

.for-centering-caption {
    display: flex;
    justify-content: space-around;
    /*border: 1px solid #3882F6;*/
    width: 850px;
    text-align: center;
}



.quote-container {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: #1F2937;
    font-style: italic;
    font-size: 30px;
    font-weight: 300;
}


.quote-owner {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote-owner-one {
    text-align: end;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
}

.blue-signup {
    display: flex;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    height: 250px;
}

.blue-container {
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    /*border: 2px solid rgb(245, 13, 13);*/
    border-radius: 20px;
    height: 85px;
}

.signup-button-second {
    display: block;
    width: 110px;
    border: 2px solid #fff;
    background-color: #3882F6;
    padding: 7px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.call-to-action-one {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.call-to-action-two {
    color: #E5E7EB;
    font-weight: normal;
    font-size: 14px;
}

.footer-container {
    display: flex;
    background-color: #1F2937;
    color: #dcdfd9;
    font-size: 15px;
    height: 50px;
    align-items: center;
    justify-content: center;
}